* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: lightgray;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

main {
  margin-top: 8vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 10vmin;
  margin: 0;
}

#title-1 {
  font-family: 'Oooh Baby', cursive;
  position: relative;
  right: 12vmin;
  font-size: 7vmin;
}

#title-1 > span {
  font-size: 4vmin;
}

#title-3 {
  font-size: 8vmin;
  position: relative;
} 

.chips {
  margin: 15vmin 0 8vmin;
  display: flex;
  justify-content: center;
}

.chips > div {
  margin: 0 1vmin;
  height: 10vmin;
  width: 10vmin;
  border: solid black 1vmin;
  border-radius: 50%;
  text-align: center;
  line-height: 8vmin;
  font-size: 2.5vmin;
  cursor: pointer;
}

.chips > div:hover, #player-side > div:hover, #dealer-side > div:hover {
  position: relative;
  bottom: 2vmin;
}

#chip-1 {
  border-color: red;
}

#chip-2 {
  border-color: green;
}

#chip-3 {
  border-color: blue;
}

#chip-4 {
  border-color: yellow;
}

#chip-clear {
  padding-top: 1vmin;
  border-radius: 2vmin;
  border: solid 0.3vmin;
  background-color: lightgray;
  color: black;
  box-shadow: 5px 5px 5px gray;
}

#chip-clear:hover {
  background-color: black;
  color: lightgray;
  bottom: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25vmin 5vmin 25vmin;
}

p > span {
  font-size: 3vmin;
}

footer > p {
  font-size: 4vmin;
}

#place-bet {
  font-size: 4vmin;
  padding: 2vmin;
  border-radius: 2vmin;
  border: solid 0.5vmin;
  background-color: lightgray;
  color: black;
  box-shadow: 5px 5px 5px gray;
}

#place-bet:hover, #second-page-buttons > button:hover {
  position: relative;
  background-color: black;
  color: lightgray;
}

footer > p {
  position: relative;
  top: 2vmin;
}

footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  SECOND PAGE */

#second-page {
  height: 100vh;
  width: 100vw;
  display: none;
  background-color: lightgray;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  grid-template-rows: 11vmin 1fr 10vmin 1fr 15vmin;
  grid-template-columns: minmax(0, 1fr);
}

#second-page-title, #dealer-side, #player-side, #second-page-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* this wraps the cards */
}
#second-page-title {
  padding: 2vmin 0;
}

#second-page-title span {
  font-size: 3vmin;
}

#second-page-title-1 {
  font-size: 5vmin;
  font-family: 'Oooh Baby', cursive;
  position: relative;
}

#second-page-title-2 {
  font-size: 7vmin;
  text-align: center;
}

#second-page-buttons > button {
  width: 23vmin;
  height: 6vmin;
  margin: 0 5vmin 2vmin;
  font-size: 3vmin;
  border-radius: 2vmin;
  border: solid 0.5vmin;
  background-color: lightgray;
  color: black;
  box-shadow: 5px 5px 5px gray;
}

#bet-info {
  display: flex;
  justify-content: space-evenly;
  font-size: 3vmin;
}

#arrow-1 {
  color: red;
  font-size: ;
}

#arrow-2 {
  color: green;
}

#arrow-3 {
  color: blue;
}

#arrow-4 {
  color: yellow;
}

#player-side, #dealer-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player-side > div, #dealer-side > div {
  min-height: 20vmin;
  min-width: 15vmin;
  margin: 0 1.5vmin;
  box-shadow: 5px 5px 5px gray;
  border: solid black 2px;
}